h1 {
    background-color: aqua;
    color:gold
    
}
body {
    background-color:blueviolet;
}

p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color:deeppink;
    text-align: center;
    background-color: black;
    }

