@font-face {
    font-family: 'franchico';
    src: url('../fonts/Caveat-VariableFont_wght.ttf');
}

@font-face {
    font-family:franchicoII ;
    src: url('../fonts/Lacquer-Regular.ttf');
}

@font-face {
    font-family: franchicoIII;
    src: url('../fonts/Creepster-Regular.ttf');
}

@font-face {
    font-family: franchicoIV;
    src: url('../fonts/LaBelleAurore-Regular.ttf');
}

@font-face {
    font-family: franchicoV;
    src: url('../fonts/Montez-Regular.ttf');
}

@font-face {
    font-family:franchicoVI ;
    src: url('../fonts/FontdinerSwanky-Regular.ttf');
}


h1 {
    color:navy;
    text-align: center;
    font-family: franchicoV;
    
}

h2 {

    text-align: center;font-family: franchicoVI;
    
}

body {
    background-color: antiquewhite;
    
}

p{
    color: navy;
    text-align: center;
    
    }

    a{
        text-decoration: none;
        color:navy;
        
        
    }

   a:visited {

       background-color:powderblue;
       
   } 

   a:hover {
       text-decoration: underline;
       text-decoration-style: solid;
       text-decoration-color: purple;
   }

   a:active{
       background-color: yellow;
   }

   .tabela {
      
    border-width: 5px;
    border-style: double;
    border-color:green;
    border-collapse: separate;
    width: 100%;
    border:5px;
   }

   tbody {
       font-size: 15px;
   }

   th {

       border-width: 2px;
       border-style: ridge;
       border-color: red;
   }
 
   
  td {
       border-width: 2px;
       border-style: ridge;
       border-color: red;
   } 

     
   tr {
       background-color:aqua;
       
   }
   
   tr:hover {
       background-color: purple;
       cursor:text;
   }

  tfoot {
      font-size: 9px;
      font-weight: 700;
  }
  
  ul{
      list-style-type: disc;
      list-style-position: outside;
  }

  ul li {
      color:blue;
  }

  ul li:hover {
      background-color: yellow;
      cursor:pointer;
  }

  ol {
      list-style-type: upper-roman;
  }

  ol li {
      color:blue;
      cursor: poiter;
  }

  ol li:hover {
      background-color: yellow;
      cursor:pointer;
  }

  ol li: item-par {
      background-color:green
  }
  
  div, article {
      border-width: 1px;
      border-style: solid;
      border-color: grey;
      background-color: azure;
      padding-left: 8px;
      padding-right: 8px;
      margin-top: 8px;
      margin-right: 8px;
  }

  .container {
      display:flex;
      justify-content: space-around;
      flex-direction: row;
  }

  .img1 {
      width: 260px;
      height: auto;
      border-radius: 50%;
      border:1px; 
      
      
  }